@media only screen and (max-width: 600px) {
    h3{
   
        font-size: 10px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    h6{
  
        font-size: 7px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(21, 21, 21, .90);
}

.modal-container {
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    z-index: 11;
    padding: 0;
    overflow: auto;
    transform: translate(-50%, -50%);
}


.gallery-modal {
    width: 100%;
    user-select: none;
}

.gallery-container {
    text-align: center;
    margin-top: 20px;

}

.gallery-card {
    overflow: hidden;
}

.gallery-thumbnail {
    height: auto;
    width: 25%;
    margin: 2px;
    margin-top: -2px;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-close {
    position: fixed;
    top: 20px;
    right: 25px;
    font-size: 2rem;
    color: black;
    z-index: 10;
}

.modal-previous {
    position: fixed;
    border-radius: 50%;
    background: rgba(21, 21, 21, .90);
    top: 50%;
left:20%;
    padding: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

.modal-next {
    position: fixed;
    border-radius: 50%;
    background: rgba(21, 21, 21, .90);
    top: 50%;
    padding: 0;
    left:80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

h3 {
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

h6 {
    letter-spacing: 5px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

hr {
    text-align: center;
    width: 10%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.fa-icon {
    color: lightgrey;
width: 30px;
height: auto;
}