body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

/*background: linear-gradient(
  rgba(0, 0, 0, 0.85),
  rgba(0, 0, 0, 0.85)
  ),url('img/test2.jpg')no-repeat;*/

background-color:
    rgba(0, 0, 0, 0.95)
    ;
height:100%;
color:#fff;
min-height: 100%;
}

html {
height: 100%;
}

a:link, a:visited{
color:#fff;
text-decoration: none;
}

h1,h2{
margin-top:5px;
margin-bottom:5px;
}

.header{
margin-top:15px;
margin-bottom:10px;
letter-spacing: 2px;
}



.border-transition {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.border-transition::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .3s;
}

.border-transition:hover::after {
  width: 100%;
  transition: width .3s;
}

.main-home{
margin-top:150px;

}

.nav-bar .icon-navbar{
float:right;
}

.icon-navbar i{
color:black;
margin-right:20px;
}

.main-home-up{
margin-bottom:20px;
}


.description-left{
letter-spacing: 2px;
text-align: right;
justify-content: center;
}

.description-right h3{
text-align: left;
justify-content: center;

}


img{
width:100%;
height:100%;
}


.image{
  transition: all ease-in 200ms;
}

a .fab{
color:#fff;
}

.image:hover {
transform: scale(1.03);
}


/*
transition: all ease-in 200ms;
box-shadow: 5px 10px 18px #888888

.image img{
width: 100%;
height: 100%;
object-fit: contain;
}

.image {
position: absolute;
width: 100%;
height: 100%;
padding: 10px;
}


.image-container {
  position: relative;
  width: 100%;
}
*/
